p {
  color: $grey47;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $navy07;

  span {
    color: $primary;
  }
}

big {
  font-size: get-d(154px);
}

h1 {
  font-size: get-d(80px);
}

h2 {
  font-size: get-d(64px);
}

h3 {
  font-size: get-d(50px);
}

h4 {
  font-size: get-d(32px);
  line-height: get-d(36px);
}

h5 {
  font-size: get-d(36px);
  line-height: get-d(37px);
}

p {
  font-size: get-d(16px);
  line-height: get-d(20px);

  &.txt {
    font-size: get-d(18px);
    line-height: get-d(24px);
  }

  &.txt-24 {
    font-size: get-d(24px);
    line-height: 100%;
  }

  &.txt-20 {
    font-size: get-d(20px);
    line-height: get-d(24px);
  }

  &.txt-14 {
    font-size: get-d(14px);
    line-height: get-d(12px);
  }

  &.txt-12 {
    font-size: get-d(12px);
    line-height: get-d(12px);
  }
}

.c-primary {
  color: $primary;
}

.bold {
  font-weight: 700;
}

.c-navy07 {
  color: $navy07;
}
