.contactUs {
  &Logo {
    width: get-d(48px);
    height: get-d(17.6px);

    @media (max-width: 561px) {
      width: get(72px);
      height: get(32px);
    }
  }
}

.statusModal {
  display: flex;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  gap: get-d(32px);

  max-width: 30vw;

  h5 {
    font-size: get-d(26px);
  }

  @media (max-width: 1001px) {
    max-width: 95vw;
    gap: get(30px);

    h5 {
      font-size: get(20px);
    }
  }
}
