.input {
  min-height: get-d(52px);
  height: get-d(52px);

  padding: get-d(14px) get-d(16px);
  border-radius: get-d(8px);

  background-color: #f0f0f7;

  width: 100%;

  position: relative;

  &.pl {
    padding-left: get-d(20px);

    @media (max-width: 561px) {
      padding-left: get(26px) !important;
    }
  }

  &:before {
    content: attr(data-symbol);
    color: #0a1d5440;
    font-size: get-d(16px);
    line-height: get-d(24px);
    letter-spacing: -0.06em;

    position: absolute;
    top: 51.5%;
    left: 0;
    translate: 100% -50%;

    @media (max-width: 561px) {
      font-size: get(20px);
      line-height: get(24px);
    }
  }

  @media (max-width: 561px) {
    min-height: get(45.5px);
    height: get(45.5px);
    padding: get(12px) get(14px);
    border-radius: get(8px);
  }

  &.msg {
    min-height: get-d(132px);
    height: fit-content;
  }

  &.secondary {
    background-color: #fff;

    @media (max-width: 561px) {
      min-height: get(56px);
      height: get(56px);
      padding: get(16px);
      border-radius: get(8px);
    }

    input {
      color: $navy07;

      @media (max-width: 561px) {
        font-size: get(20px);
        line-height: get(24px);
      }

      &::placeholder {
        color: $navy07;

        @media (max-width: 561px) {
          font-size: get(20px);
          line-height: get(24px);
        }
      }
    }
  }

  input,
  textarea {
    width: 100%;
    height: 100%;

    color: $grey47;
    font-size: get-d(16px);
    line-height: get-d(24px);
    letter-spacing: -0.06em;
    appearance: none;
    -webkit-appearance: none;

    @media (max-width: 561px) {
      font-size: get(14px);
      line-height: get(20px);
    }

    &::placeholder {
      color: $grey47;
      font-size: get-d(16px);
      line-height: get-d(24px);
      letter-spacing: -0.06em;

      @media (max-width: 561px) {
        font-size: get(14px);
        line-height: get(20px);
      }
    }
  }
}
