.waitlist {
  display: flex;
  gap: get-d(10px);

  @media (max-width: 561px) {
    flex-direction: column;
    gap: get(8px);
    width: 100%;
  }

  .video {
    min-width: get-d(415px);
    width: 100%;
    max-width: get-d(415px);
    background-color: $primary;
    border-radius: get-d(20px);

    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
    flex-direction: column;
    gap: get-d(15px);

    position: relative;

    overflow: hidden;
    padding-bottom: get-d(55px);

    @media (max-width: 561px) {
      aspect-ratio: 1 / 0.4;
      min-width: 100%;
      max-width: 100%;
      border-radius: get(17.5px);
      gap: get(14px);
    }

    div[class='lf-player-container'] {
      position: absolute;
      top: 40%;
      left: 53%;
      width: 100%;
      translate: -50% -50%;
      z-index: 2;
      scale: 1.2;

      @media (max-width: 561px) {
        top: 38%;
      }
    }

    p {
      font-size: get-d(23px) !important;
      line-height: get-d(24px) !important;
      max-width: get-d(250px);
      color: #fff;
      z-index: 3;
      position: relative;

      @media (max-width: 561px) {
        font-size: get(22px) !important;
        line-height: get(23px) !important;
        max-width: get(255px);

        background-color: rgba(0, 0, 0, 0.35);
        padding: get(10px);
        border-radius: get(8px);
      }
    }

    span {
      font-size: get-d(16px);
      line-height: get-d(19px);
      color: #fff;
      z-index: 3;
      position: relative;

      @media (max-width: 561px) {
        font-size: get(14px);
        line-height: get(17px);
      }
    }

    .circle {
      width: 100%;
      aspect-ratio: 1 / 1.5;
      position: absolute;
      top: -10%;
      left: 0;
      mix-blend-mode: multiply;
      z-index: 1;
      object-fit: cover;

      @media (max-width: 561px) {
        top: -50%;
      }
    }
  }

  &Form {
    min-width: get-d(415px);
    width: 100%;
    max-width: get-d(415px);

    @media (max-width: 561px) {
      max-width: 100%;
      min-width: 100%;
    }
  }
}
