.calculate {
  padding-block: get-d(185px) get-d(108px);

  div[class='container'] {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: get-d(60px);
  }

  .tooltip {
    background-color: $navy0a;
    border-radius: get-d(14px);
    padding: get-d(12px) get-d(16px);
    display: flex;
    flex-direction: column;

    > p {
      color: #fff;

      &:first-child {
        margin-bottom: 6px;
      }
    }
  }

  ul[class='recharts-default-legend'] {
    display: none;
  }

  path[class='recharts-rectangle'] {
    border-radius: 4.2px;
  }

  g[class='recharts-layer recharts-cartesian-axis recharts-yAxis yAxis'] {
    tspan {
      font-size: 0.7vw;
      color: #474747;
      opacity: 0.5;

      @media (max-width: 561px) {
        font-size: 2.6vw;
      }
    }
  }

  g[class='recharts-layer recharts-cartesian-axis recharts-xAxis xAxis'] {
    tspan {
      font-size: 0.7vw;
      color: #474747;
      opacity: 0.5;

      @media (max-width: 561px) {
        font-size: 2vw;
      }
    }
  }

  g[class='recharts-layer recharts-cartesian-axis recharts-yAxis yAxis'] {
    line[class='recharts-cartesian-axis-line'] {
      display: none !important;
    }
  }

  g[class='recharts-cartesian-grid-vertical'] {
    display: none !important;
  }

  &SectionGroup {
    max-width: get-d(650px);
    width: 100%;
    margin: 0 auto;

    @media (max-width: 561px) {
      max-width: 100%;
    }

    p {
      max-width: get-d(475px);

      @media (max-width: 561px) {
        max-width: 100%;
      }
    }
  }

  &Wrap {
    display: flex;
    gap: get-d(40px);
    align-items: center;

    @media (max-width: 561px) {
      flex-direction: column-reverse;
    }

    .chart {
      padding: get-d(36px);
      background-color: #fff;
      border-radius: get-d(20px);

      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: get-d(40px);

      flex: 1;
      width: 100%;

      @media (max-width: 561px) {
        width: 100%;
        border-radius: get(10px);
        gap: get(25px);
        padding: get(12px);
      }

      .canvas {
        width: 100% !important;

        translate: 0 10%;

        aspect-ratio: 1 / 0.5;

        canvas {
          width: 100% !important;
        }
      }

      .total {
        display: flex;
        justify-content: space-between;
        gap: get-d(45px);

        @media (max-width: 561px) {
          gap: get(22px);
        }

        .potentialBalance {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: get-d(22.6px);

          @media (max-width: 561px) {
            gap: get(11px);
          }

          > *:nth-child(2) {
            @media (max-width: 561px) {
              font-size: get(10px);
            }
          }

          h2 {
            color: $navy07;
          }
        }

        .secure {
          padding: get-d(18px) get-d(8px) get-d(8.5px) get-d(16px);
          background-color: $whitef7;
          border-radius: get-d(14px);
          display: flex;
          align-items: end;
          gap: get-d(4px);
          position: relative;

          max-width: get-d(220px);

          @media (max-width: 561px) {
            max-width: get(118px);
            min-width: get(118px);
            width: 100%;
            gap: get(0px);
            padding: get(8px) get(4px) get(5px) get(8px);
          }

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: get-d(14px);
            translate: 0 -50%;
            width: get-d(24px);
            height: get-d(24px);
            background-image: url('../../../public/assets/icons/flash.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            @media (max-width: 561px) {
              width: get(11.75px);
              height: get(11.75px);
            }
          }

          .text {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: get-d(12px);

            @media (max-width: 561px) {
              gap: get(6px);
              margin-bottom: auto;
            }

            p:first-child {
              color: $navy07;

              @media (max-width: 561px) {
                font-size: get(10px);
                line-height: 100%;
              }
            }

            p:last-child {
              opacity: 0.5;
              line-height: 140%;

              @media (max-width: 561px) {
                font-size: get(8px);
              }
            }
          }
        }
      }

      .info {
        display: flex;
        align-items: center;
        gap: get-d(9px);

        @media (max-width: 561px) {
          gap: get(4.4px);
        }

        .item {
          display: flex;
          align-items: center;
          gap: get-d(8px);
          padding: get-d(12px);
          border-radius: get-d(12px);
          background-color: $whitef7;

          @media (max-width: 561px) {
            padding: get(6px);
            border-radius: get(6px);
            gap: get(4px);
          }

          &:first-child {
            .square {
              background-color: $primary;
            }
          }

          &:nth-child(2) {
            .square {
              background-color: $pinkd9;
            }
          }

          p {
            text-transform: capitalize;
          }

          .square {
            width: get-d(12px);
            min-width: get-d(12px);
            height: get-d(12px);
            min-height: get-d(12px);
            border-radius: get-d(3px);

            @media (max-width: 561px) {
              width: get(7px);
              min-width: get(7px);
              height: get(7px);
              min-height: get(7px);
              border-radius: get(1.5px);
            }
          }
        }
      }
    }

    .panel {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: get-d(50px);
      min-width: get-d(340px);
      max-width: get-d(340px);
      width: 100%;

      @media (max-width: 561px) {
        max-width: 100%;
        min-width: 100%;
      }

      .inputs {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: get-d(30px);

        .input {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: get-d(12px);

          input {
            &::first-letter {
              color: #0a1d5440;
            }
          }
        }
      }

      .buttons {
        display: flex;
        align-items: stretch;

        gap: get-d(10px);

        @media (max-width: 561px) {
          gap: get(12px);
        }

        button:first-child {
          flex-direction: row-reverse;
          flex: 1;
          padding-inline: 0;
        }

        button:nth-child(2) {
          aspect-ratio: 1 / 1;
        }
      }
    }
  }
}
