.hero {
  padding-top: get-d(75px);

  @media (max-width: 561px) {
    padding-top: get(125px);
    overflow-x: hidden !important;
  }

  &Bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1.5 / 1;
    z-index: -1;
    animation: heroBgAnim 1s forwards ease;

    @media (max-width: 561px) {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      aspect-ratio: unset !important;
      overflow: hidden;

      img {
        width: get(1100px);
        min-width: get(1100px);
        height: get(800px);
        min-height: get(800px);
        object-position: center;
        object-fit: cover;
        translate: -7% 0;
      }
    }
  }

  @keyframes heroBgAnim {
    from {
      opacity: 0;
      scale: 0.85;
    }

    to {
      opacity: 1;
      scale: 1;
    }
  }

  &Wrap {
    margin: get-d(150px) auto 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .row {
      position: relative;
      width: 100%;
      display: flex;
      align-items: end;
      justify-content: space-between;
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: center;

      .block {
        border-radius: get-d(23px);
        background-color: #fff;
        gap: get-d(12.65px);
        display: flex;
        align-items: start;
        padding: get-d(16.5px);

        @media (max-width: 561px) {
          width: 100%;
          border-radius: get(19px);
          gap: get(10px);
          padding: get(13px);
        }

        .icon {
          width: get-d(47px);
          height: get-d(47px);
          min-width: get-d(47px);
          min-height: get-d(47px);
          border-radius: 50%;
          overflow: hidden;
          object-fit: contain;
          object-position: center;

          @media (max-width: 561px) {
            width: get(38px);
            height: get(38px);
            min-width: get(38px);
            min-height: get(38px);
          }
        }

        div {
          display: flex;
          flex-direction: column;
          gap: get-d(4.25px);

          p:first-child {
            color: $navy07;
          }
        }
      }
    }

    .video {
      width: get-d(400px);
      max-width: get-d(400px);

      position: absolute;
      left: 50%;
      translate: -50% 0;
      bottom: -37%;
      mix-blend-mode: darken;

      @media (max-width: 561px) {
        position: relative;
        width: 100%;
        max-width: 100%;
        bottom: 0;
        left: 0;
        translate: 0;
        aspect-ratio: 1 / 1;
      }

      video {
        width: 100%;
        height: 100%;
        z-index: 1;
        position: relative;
      }
    }

    .left {
      display: flex;
      flex-direction: column;
      gap: get-d(26px);
      max-width: get-d(240px);
      width: 100%;

      @media (max-width: 561px) {
        display: none;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: get-d(8px);

      @media (max-width: 561px) {
        display: none;
      }
    }
  }
}
