.preFooter {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: get-d(92px);

  h2 {
    max-width: get-d(700px);

    @media (max-width: 561px) {
      width: 100%;
      max-width: 100%;

      br {
        display: none;
      }
    }
  }

  .btnSpeak {
    text-align: left !important;
  }

  &Row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: get-d(20px);
    padding-inline: get-d(20px);

    @media (max-width: 561px) {
      gap: get(8.36px);
      overflow-x: scroll;
      padding-block: get(35px);
      justify-content: start;
      overflow-y: visible;
      padding-inline: get(16px);

      &::-webkit-scrollbar {
        background-color: #ecedf9;
        height: get(4.5px);
        width: get(175px);
      }

      &::-webkit-scrollbar-thumb {
        background-color: #6f7af6;
        border-radius: get(145px);
      }
    }

    div[id='pc1'] {
      > div:not(:last-child) {
        position: absolute;

        &:first-child {
          background-color: #fff;
          rotate: -11deg !important;
          top: 5% !important;
          left: 45% !important;
          min-width: get-d(252px);

          @media (max-width: 561px) {
            width: 100%;
          }
        }

        &:nth-child(2) {
          top: 25% !important;
          left: 25% !important;
          rotate: 7deg !important;

          @media (max-width: 561px) {
            > div {
              padding: get(4px) get(16px) !important;
              padding-left: get(4px) !important;
            }
          }

          > div {
            background-color: $pinkd9;
          }

          p {
            text-transform: capitalize !important;
          }
        }
      }
    }

    div[id='pc3'] {
      > div {
        &:first-child {
          position: absolute;
          scale: 1.65;
          top: 25%;
          rotate: -45deg;
          left: -100%;

          @media (max-width: 561px) {
            top: 30%;
            left: -120%;
            scale: 1.8;
          }
        }
      }
    }

    .pfCard {
      width: 100%;
      flex: 1;
      min-height: get-d(290px);
      height: get-d(290px);

      transition: translate 0.7s ease;

      @media (max-width: 561px) {
        min-height: get(200px);
        height: get(200px);
        min-width: get(150px);
        width: get(150px);
        max-width: get(150px);
      }

      &:hover {
        translate: 0 -10%;
      }

      &:nth-child(1) {
        .card {
          background-color: $primary;

          .text {
            p:first-child {
              color: #fff;
            }

            p:last-child {
              color: #fff;
            }
          }
        }
      }

      &:nth-child(3) {
        .card {
          background-color: $pinkd9;

          .text {
            p:first-child {
              color: $navy07;
            }

            p:last-child {
              color: $navy0a;
            }
          }
        }
      }

      &:nth-child(5) {
        .card {
          background-color: $pinka7;

          div[class='lf-player-container'] {
            user-select: none;
            pointer-events: none;
            position: absolute;
            scale: 4;
            translate: 135% -25%;
          }

          .text {
            p:first-child {
              color: #fff;
            }
            p:last-child {
              color: #fff;
            }
          }
        }
      }

      &:nth-child(7) {
        .card {
          background-color: $pinked;

          div[class='lf-player-container'] {
            user-select: none;
            pointer-events: none;
            position: absolute;
            scale: 4.5;
            translate: -100% 240%;
          }

          .text {
            p:first-child {
              color: $navy07;
            }
            p:last-child {
              color: $navy0a;
            }
          }
        }
      }
    }

    .card {
      border-radius: get-d(20px);
      overflow: hidden;
      width: 100%;
      height: 100%;
      padding: get-d(25px) get-d(20px);

      display: flex;
      flex-direction: column;
      justify-content: start;
      position: relative;

      @media (max-width: 561px) {
        border-radius: get(10.45px);
        padding: get(10.1px) get(11.5px);
      }

      &.justPhoto {
        padding: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &.txtBottom {
        justify-content: end;
      }

      .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: get-d(17px);

        @media (max-width: 561px) {
          gap: get(8.6px);
        }

        p:first-child {
          opacity: 0.5;

          @media (max-width: 561px) {
            font-size: get(10px);
            line-height: get(7px);
          }
        }

        p:last-child {
          @media (max-width: 561px) {
            font-size: get(14px);
            line-height: 100%;
          }
        }
      }
    }
  }
}
