.FAQ {
  padding-block: get-d(180px);

  &Container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: get-d(65px);
  }

  &Title {
    max-width: get-d(450px);
    width: 100%;

    @media (max-width: 561px) {
      max-width: 100%;
      text-align: center;
    }
  }

  &Items {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: get-d(16px);
  }
}
