.heroAdvisors {
  padding-top: get-d(100px);
  padding-bottom: get-d(400px);

  position: relative;

  @media (max-width: 561px) {
    padding-top: get(100px);
    padding-bottom: get(350px);
    overflow-x: hidden;
  }

  &Group {
    max-width: get-d(850px);
    width: 100%;
    margin: 0 auto;
    z-index: 3;
    position: relative;

    @media (max-width: 561px) {
      max-width: 100%;
    }
  }

  .phone {
    position: absolute;
    top: 60%;
    left: 50%;
    translate: -50% -50%;

    z-index: 1;

    width: get-d(500px);
    height: auto;

    @media (max-width: 561px) {
      width: get(350px);
      top: 55%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;

      opacity: 0;

      animation: heroBgAnim 1s forwards ease 0.5s;
    }
  }

  .left {
    position: absolute;
    top: 55%;
    left: 22.5%;
    translate: 0 -50%;
    z-index: 2;

    width: get-d(308px);
    height: get-d(188px);

    @media (max-width: 561px) {
      width: get(170px);
      height: get(100px);
      left: 0;
      top: 55%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;

      translate: -75% 50%;
      opacity: 0;
    }
  }

  .right {
    position: absolute;
    top: 55%;
    right: 25%;
    translate: 0 -50%;
    z-index: 2;

    width: get-d(300px);
    height: get-d(155px);

    @media (max-width: 561px) {
      width: get(170px);
      height: get(100px);
      right: 0;
      top: 55%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;

      translate: 75% 50%;
      opacity: 0;
    }
  }

  &Video {
    width: get-d(680px);
    aspect-ratio: 1 / 0.7;
    position: absolute;
    top: 75%;
    left: 50%;
    mix-blend-mode: color;
    translate: -50% -50%;

    @media (max-width: 561px) {
      width: 100%;
      top: 65%;
    }
  }

  @keyframes heroBgAnim {
    from {
      opacity: 0;
      scale: 0.65;
    }

    to {
      opacity: 1;
      scale: 1;
    }
  }
}
