.solution {
  padding-top: get-d(180px);

  &Container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: get-d(57px);
  }

  &Table {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    @media (max-width: 561px) {
      max-width: 100%;
      width: 100%;
      height: fit-content;
      overflow-x: scroll;
      overflow-y: hidden;
      padding-bottom: get(35px);
      padding-top: get(35px);

      &::-webkit-scrollbar {
        background-color: #ecedf9;
        height: get(4.5px);
        width: get(175px);
      }

      &::-webkit-scrollbar-thumb {
        background-color: #6f7af6;
        border-radius: get(145px);
      }
    }

    &Cell {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      padding: get-d(13.5px) get-d(20.5px) get-d(13.5px) get-d(16px);

      position: relative;

      @media (max-width: 561px) {
        padding: get(10.3px) get(12.23px);
        min-width: get(165px);
        width: get(165px);
        max-width: get(165px);
      }

      p {
        font-size: get-d(18px);
        line-height: get-d(20px);
        color: $navy07;
        text-align: center;

        @media (max-width: 561px) {
          font-size: get(13px);
          line-height: 100%;
        }
      }

      > * {
        position: relative;
        z-index: 1;
      }

      &:first-child {
        justify-content: start;
      }

      &:nth-child(2) {
        p {
          color: #fff;
        }
      }

      .group {
        display: flex;
        align-items: center;
        gap: get-d(10px);

        @media (max-width: 561px) {
          gap: get(7px);
        }

        p {
          font-size: get-d(16px);
          line-height: get-d(22px);

          @media (max-width: 561px) {
            font-size: get(10.23px);
            line-height: get(13px);
            text-align: left !important;
          }
        }

        .icon {
          width: get-d(33px);
          height: get-d(33px);
          min-width: get-d(33px);
          min-height: get-d(33px);
          border-radius: get-d(8px);
          background-color: #fff;

          display: flex;
          align-items: center;
          justify-content: center;

          @media (max-width: 561px) {
            width: get(25.35px);
            height: get(25.35px);
            min-width: get(25.35px);
            min-height: get(25.35px);
            border-radius: get(6.12px);
          }

          img {
            width: get-d(18px);
            height: get-d(18px);
            min-width: get-d(18px);
            min-height: get-d(18px);

            @media (max-width: 561px) {
              width: get(13.76px);
              height: get(13.76px);
              min-width: get(13.76px);
              min-height: get(13.76px);
            }
          }
        }
      }
    }

    &Row {
      display: flex;
      align-items: stretch;
      min-height: get-d(74px);
      height: get-d(74px);

      @media (max-width: 561px) {
        min-height: get(56px);
        height: get(56px);
        width: fit-content;
      }

      > div:nth-child(2) {
        &::before {
          content: '';

          background-color: $primary;
          width: 100%;
          height: 100%;

          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
        }
      }

      &:nth-child(2) {
        border-top-left-radius: get-d(24px) !important;

        border-top-right-radius: get-d(24px) !important;
      }

      &:first-child {
        > div:nth-child(2) {
          &::before {
            bottom: 0;
            top: unset !important;
            height: calc(100% + get-d(23px));
            border-top-left-radius: get-d(22px);
            border-top-right-radius: get-d(22px);

            @media (max-width: 561px) {
              height: calc(100% + get(17px));
              border-top-left-radius: get(16.8px);
              border-top-right-radius: get(16.8px);
            }
          }
        }

        > div:first-child {
          font-size: get-d(16px) !important;
          line-height: get-d(20px) !important;
          opacity: 0.6 !important;
        }
      }

      &:last-child {
        border-bottom-left-radius: get-d(24px) !important;

        border-bottom-right-radius: get-d(24px) !important;

        > div:nth-child(2) {
          &::before {
            top: 0;
            height: calc(100% + get-d(23px));
            border-bottom-left-radius: get-d(22px);
            border-bottom-right-radius: get-d(22px);

            @media (max-width: 561px) {
              height: calc(100% + get(17px));
              border-bottom-left-radius: get(16.8px);
              border-bottom-right-radius: get(16.8px);
            }
          }
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid #ffffff;
      }

      &:not(:first-child) {
        background-color: #d9dcfa5c;
      }
    }
  }
}
