.benefits {
  padding-top: get-d(50px);

  &Title {
    text-align: center;
    font-weight: 500;
    margin: 0 auto;
    line-height: 95%;

    @media (max-width: 561px) {
      font-size: get(24.5px);
      line-height: get(23px);
    }

    br {
      @media (max-width: 561px) {
        display: none;
      }
    }

    span {
      margin: auto get-d(10px);
      translate: -5% 15%;

      @media (max-width: 561px) {
        translate: -5% 15% !important;
      }

      img {
        width: get-d(41px);
        height: get-d(41px);
        min-height: get-d(41px);
        min-width: get-d(41px);

        @media (max-width: 561px) {
          width: get(16px);
          height: get(16px);
          min-width: get(16px);
          min-height: get(16px);
        }
      }
    }
  }

  &Container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: get-d(220px);
  }

  &Cards {
    display: flex;
    gap: get-d(20px);
    flex-wrap: wrap;

    @media (max-width: 561px) {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: stretch;
    }
  }

  &Card {
    padding: get-d(32px);
    border-radius: get-d(20px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    flex: 1;

    min-height: get-d(635px);
    position: relative;

    @media (max-width: 561px) {
      padding: get(15px);
      border-radius: get(13.2px);
    }

    > div:first-child {
      z-index: 1;
      position: relative;
    }

    .bubble {
      position: absolute;
    }

    .video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 80%;
      z-index: 0;
    }

    div[id='bubble-1'] {
      top: get-d(158px);
      left: 55% !important;
      translate: -50% 0 !important;
      rotate: -45deg;
      transform-origin: center;

      @media (max-width: 561px) {
        width: get(120px);
        height: get(32px);
        left: 0 !important;
        translate: 0 !important;
        top: get(65px) !important;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      svg {
        rotate: 4.39deg;
      }
    }

    div[id='bubble-2'] {
      top: get-d(84px);
      rotate: 45deg;
      left: 55% !important;
      translate: -50% 0 !important;
      transform-origin: center;

      @media (max-width: 561px) {
        width: get(103px);
        height: get(21px);
        left: get(20px) !important;
        top: get(12.5px) !important;
        translate: 0 !important;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      svg {
        rotate: 11.88deg;
      }
    }

    .animatedCard {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }

    div[id='acard-1'] {
      z-index: 4;
      top: 32.5%;
    }

    div[id='acard-2'] {
      left: 60%;
      top: 52.5%;

      @media (max-width: 561px) {
        top: 49%;
        left: 65%;
      }
    }

    div[id='acard-4'] {
      left: 30%;
      top: 40%;
    }

    div[id='acard-3'] {
      top: 25%;
      left: 75%;
    }

    > div:first-child {
      background-color: $whitef7;
    }

    &:nth-child(1) {
      background-image: url('../../../public/assets/images/bc1.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      @media (max-width: 561px) {
        background-image: url('../../../public/assets/images/bc1-mob.png');
        background-position: top center;
        min-height: get(565px) !important;
        height: get(565px) !important;
      }
    }

    &:nth-child(2) {
      background-color: #d9dcfa5c;

      @media (max-width: 561px) {
        min-height: get(505px);
      }
    }

    &:nth-child(3) {
      background-color: #fff;

      @media (max-width: 561px) {
        min-height: get(500px);
        height: get(500px);
      }
    }

    &.big {
      padding-bottom: get-d(80px);

      min-width: 100%;
      min-height: get-d(440px);

      @media (max-width: 561px) {
        justify-content: end;
        gap: get(24px);
      }

      .text {
        h3 {
          max-width: get-d(495px);

          @media (max-width: 561px) {
            max-width: 100%;
            font-size: get(36px);
            line-height: get(36px);
          }
        }

        p {
          max-width: get-d(424px);

          @media (max-width: 561px) {
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: get-d(21px);
      z-index: 1;
      position: relative;

      @media (max-width: 561px) {
        gap: get(24px);
        width: 100%;
      }

      h5 {
        @media (max-width: 561px) {
          font-size: get(36px);
          line-height: get(36px);
        }
      }

      h3,
      h5 {
        max-width: get-d(300px);
        width: 100%;

        @media (max-width: 561px) {
          max-width: 100% !important;
        }
      }

      p {
        width: 100%;

        max-width: get-d(415px);

        @media (max-width: 561px) {
          width: 100% !important;
          max-width: 100%;
        }
      }
    }
  }
}
